<mat-card>
  <mat-card-title>Управление пользователями</mat-card-title>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Пользователи">
        <table mat-table [dataSource]="userDataSource" matSort>
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя пользователя</th>
            <td mat-cell *matCellDef="let element">
              {{ element.username }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" [class.cell-value]="true">
              <button mat-icon-button (click)="editUser(element)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button (click)="deleteUser(element)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="userDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: userDisplayedColumns;" ></tr>
        </table>
        <button mat-flat-button style="margin-top: 6px" color="primary" (click)="createUser()"><mat-icon>add</mat-icon>Создать</button>
      </mat-tab>
      <mat-tab label="Роли">
        <table mat-table [dataSource]="roleDataSource" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Имя роли</th>
            <td mat-cell *matCellDef="let element">
              {{element.name}}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" [class.cell-value]="true">
              <button mat-icon-button (click)="editRole(element)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button (click)="deleteRole(element)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="roleDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: roleDisplayedColumns;" ></tr>
        </table>

        <button mat-flat-button style="margin-top: 6px" color="primary" (click)="createRole()"><mat-icon>add</mat-icon>Создать</button>
      </mat-tab>

      <mat-tab label="Привилегии">
        <table mat-table [dataSource]="privilegeDataSource" matSort>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Название привилегии</th>
            <td mat-cell *matCellDef="let element">
              {{element.name}}
            </td>
          </ng-container>
          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Значение</th>
            <td mat-cell *matCellDef="let element">
              {{element.value}}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Действия</th>
            <td mat-cell *matCellDef="let element" [class.cell-value]="true">
              <button mat-icon-button (click)="editPrivilege(element)"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button (click)="deletePrivilege(element)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="roleDisplayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: roleDisplayedColumns;" ></tr>
        </table>

        <button mat-flat-button style="margin-top: 6px" color="primary" (click)="createPrivilege()"><mat-icon>add</mat-icon>Создать</button>
      </mat-tab>
    </mat-tab-group>

  </mat-card-content>
</mat-card>
