<mat-card>
  <mat-card-title>
    Список WST аккаунтов
  </mat-card-title>
  <mat-card-content>
    <mat-selection-list [(ngModel)]="selectedWstAccount" dense [multiple]="false">
      <mat-list-option *ngFor="let wstAccount of wstAccountList" [value]="wstAccount">{{wstAccount.email}}</mat-list-option>
    </mat-selection-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button style="margin-right: 6px" color="primary" (click)="create()"><mat-icon prefix>add</mat-icon>Добавить</button>
    <button mat-flat-button style="background-color: green; color: white" (click)="edit()"><mat-icon prefix>edit</mat-icon>Изменить</button>
  </mat-card-actions>
</mat-card>
